.container {
  width: 70%;
  margin: auto;
  text-align: center;
}
.fads {
  color: red;
}
.fadsf, .fadsft {
  color: white;
  transform: rotate(15deg);
  padding: 2rem;
}
.fadsft {
    transform: rotate(-75deg);
}
.favi {
  text-align: center;
  display: inline-block;
}
.one {
  color: red;
}
.two {
  color: orange;
}
.three {
  color: yellow;
}
.four {
  color: green;
}
.five {
  color: blue;
}
.six {
  color: purple;
}
.dice {
  text-align: center;
  display: inline-block;
}
body {
  background-color: #393E46;
}
h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}
p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}
section p, h6 {
  font-size: 1rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
  margin: 20%;
}
footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
